#kep {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: lightgrey;
    margin: 60px auto;
    background-image: url(images/pfp.jpeg);
    background-size: cover;
}

.adatok {
    padding: 60px;
}

.kep {
    width: 200px;
    height: 200px;
    background-color: lightgrey;
    margin: 10px auto;
}

.container {
    max-width: 700px;
}

.carousel-item img {
    height: 200px;
}

.carousel-item {
    width: 200px;
    height: 200px;
    overflow: hidden;
}